  .node-diff{
      display: flex;
      border-style: inset none none none;
      border-width: 2px;
      justify-content: center;
      background-color: #F1D1D0;
  }

  h5{
    display: inline;
  }
  #algo-div{
    display: inline;
    margin-right: 1rem;
    margin-left: 1vh;
  }

  #algo-data-astar, #algo-data-diff, #algo-data-dijkstra, #algo-data-shortest-path{
    overflow: hidden;
    position: absolute;
  }


  #algo-data{
    margin-left: 15px;
    margin-right: 15px;
  }
